.micIconContainer{
width: 100px;
background-color: red;
border-radius: 50%;
height: 100px;
display: flex;
align-items: center;
justify-content: space-around;
border: 10px solid rgba(0, 0, 0, 0.205);
cursor: pointer;
}
.container {
  width: 80%;
  height: 90%;
  margin: 50px auto;
  background-color: #f4f4f4;
}
.micIcon{
  width: 40px;
  color: white;
  }
  .show{
    opacity: 1;
  }
  .hide {
   opacity: 0;
  }
  .soundWaveImage{
    width: 500px;
    height: 20px;
  }
  .recordingSection{
     margin: 100px auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     width: 30%;
     background-color: black;
     padding: 10px;
  }
  .recordingText{
    margin: 20px 0;
    text-align: center;
    color: aliceblue;
  }
  .pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 4px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 6px 11px;
    border-radius: 4px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-2px);
  }

