.micIconContainer{

width: 100px;
background-color: red;
border-radius: 50%;
height: 100px;

 display: flex;
 align-items: center;
 justify-content: space-around;
 border: 10px solid rgba(0, 0, 0, 0.205);
cursor: pointer;

}
.micIcon{
  width: 40px;
  color: white;
  }
  .show{
    opacity: 1;
  }
  .hide {
   opacity: 0;
    
  }
  .soundWaveImage{
    width: 500px;
    height: 20px;
  }
  .recordingSection{
     margin: 100px auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     width: 30%;
     background-color: black;
     padding: 10px;
  }
  .recordingText{
    margin: 20px 0;
    text-align: center;
    color: aliceblue;
  }